{{ define "main" }}
<main class="broadcast broadcast-full">
  <header class="post-title">
    Session {{.Params.counter}}
    <br />
    <h1>
      {{.Title}}
    </h1>
  </header>

  <div class="youtube-wrapper">
    <iframe title={{.Title}} class="youtube-embed" src="https://www.youtube.com/embed/{{.Params.videoId}}"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <p>
    <span class="post-date">
      {{.Date.Format "January 2, 2006"}}
    </span>
  </p>

  <article id="content">
    {{ .Content }}
  </article>
</main>

<aside>
  {{ with .PrevInSection }}
  Previous: <a class="previous" href="{{.Permalink}}">{{.Title}}</a>
  {{ end }}

  {{ with .NextInSection }}
  <!-- TODO: remove leading | for first posts -->
  | Next: <a class="next" href="{{.Permalink}}">{{.Title}}</a>
  {{ end }}
</aside>
{{ end }}
