$green: #8be339;
$magenta: 'magenta';
$black: #0E182A;
$body-color: #e1e1e1;

$game-font: 'Press Start 2P', monospace;
$text-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$border: 1px solid #666;
$border-padding: 35px;

@mixin mobile {
  @media (max-width: 599px) { @content; }
}

@mixin desktop {
  @media (min-width: 600px) { @content; }
}

body {
  background-color: $black;
  color: $body-color;
  font-family: $text-font;
  font-size: 18px;
  margin: 0;
  line-height: 1.625;

  @include mobile {
    font-size: 16px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $game-font;
}

@include mobile {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
}

.thumbnail {
  @include desktop {
    width: 180px;
    flex-shrink: 0;
  }

  img {
    width: 100%;
  }
}

footer {
  border-top: 1px solid transparentize($color: $body-color, $amount: 0.75);
  margin-top: 40px;
  padding: 40px 0;

  
  @include desktop {
    display: flex;
  }

  .cc {
    display: flex;

    > a {
      flex-shrink: 0;
      margin-right: 20px;
    }
  }

  .social {
    padding-right: 30px;
    margin-bottom: 30px;
  }
  .social-icons {
    cursor: pointer;
    font-size: 24px;
    a {
      padding-right: 8px;
      color: white;
      &:hover {
        color: $green;
      }
    }
  }
}

// Navigation
nav {
  margin-top: 30px;
  font-family: $game-font;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    border-bottom: 5px solid transparent;
    margin-bottom: 10px;

    @include desktop {
      padding: 20px 0 10px;
    }

    &:hover {
      text-decoration: underline;

      @include desktop {
        text-decoration: none;
        border-bottom-color: $green;
      }
    }
  }
}

// Index Page
#index {
  header {
    text-align: center;
    padding-top: 20px;

    img {
      max-width: 100%;
    }
  }

  .devlog-header {
    margin-top: $border-padding;
    border-top: $border;
    padding-top: $border-padding;
  }
}

// Twitch player
.twitch-online, .twitch-offline {
  display: none;

  h4 {
    margin-top: 0;
  }

  &.visible {
    display: block;
  }
}

.twitch-offline {
  margin-top: $border-padding;
  border: $border;
  padding: $border-padding;
  margin-bottom: $border-padding;

  .offline-label {
    @include mobile {
      display: block;
      margin-top: 10px;
    }
    background: red;
    padding: 10px;
  }

  ul {
    margin: 8px 0;
  }

  li {
    margin-bottom: 4px;

    span {
      color: $green;
    }
  }
}

// Preview list
.preview-list-item {
  @include desktop {
    display: flex;
    align-items: flex-start;
  }
  margin-bottom: 60px;

  .thumbnail {
    flex-shrink: 0;
    margin-right: 30px;
  }

  .post-title {
    h1, h3 {
      margin-top: 0;
    }
  }

  .post-date {
    color: #999;
  }
}

// Devlogs

// Broadcasts
.broadcast {
  .post-title {
    h1, h3 {
      margin-top: 0;
    }
  }

  .post-date {
    color: #666;
  }
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 40px;

  .youtube-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.broadcast-full {
  margin-top: 40px;
}

.broadcast-square-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.broadcast-square {
  width: 100%;
  @include desktop() {
    width: calc(33% - 4px); // 6px gutter split between 3 items
  }

  margin-bottom: 40px;
  display: flex;

  a {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: darken($black, 3%);
    &:hover {
      background: lighten($black, 5%);
      text-decoration: none;
    }
  }

  .thumbnail {
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    h3 {
      margin: 0;
      font-size: 14px;
      padding-bottom: 10px;
    }

    .metadata {
      display: flex;
      justify-content: space-between;
    }
  }
}

////
.post-content {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.7;
  word-wrap: break-word;

  li {
    margin-bottom: 10px;
  }
}

// Social
#find-us {
  ul.social {
    font-family: $game-font;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    border-top: $border;
    margin-top: 30px;

    li {
      list-style-type: none;
      font-size: 20px;
      @include desktop {
        font-size: 30px;
      }
      margin-bottom: 16px;
    }
  }
}
