$green: rgb(113, 228, 19);
$black: #000;
$body-color: #ccc;

$game-font: 'Press Start 2P', monospace;
$text-font: 'Lato', sans-serif;

body {
  background-color: $black;
  color: $body-color;
  font-family: $text-font;
  margin: 0;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $game-font;
}

.container {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 20px;
}

a {
  color: rgb(113, 228, 19);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
}

.thumbnail {
  width: 180px;
  flex-shrink: 0;

  img {
    width: 100%;
  }
}

footer {
  background: #333;
  margin-top: 40px;
  padding: 40px 0;

  .container {
    display: flex;
  }

  .cc {
    display: flex;

    > a {
      flex-shrink: 0;
      margin-right: 20px;
    }
  }
}

// Navigation
nav .container {
  display: flex;
  justify-content: space-between;
  font-family: $game-font;

  a {
    padding: 20px 10px 10px;
    border-bottom: 5px solid transparent;
    margin-bottom: 10px;
    

    &:hover {
      text-decoration: none;
      border-bottom-color: $green;
    }
  }
}

// Index Page
#index {
  header {
    text-align: center;
    padding-top: 20px;
  
    img {
      max-width: 100%;
    }
  }
}

// Devlogs

// Broadcasts
.broadcast-preview {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;

  .thumbnail {
    flex-shrink: 0;
    margin-right: 30px;
  }  
  
  h3 {
    margin-top: 0;
  }

  .post-date {
    color: #666;
  }
}
