$green: rgb(113, 228, 19);
$magenta: 'magenta';
$black: #000;
$body-color: #ccc;

$game-font: 'Press Start 2P', monospace;
$text-font: 'Lato', sans-serif;

body {
  background-color: $black;
  color: $body-color;
  font-family: $text-font;
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $game-font;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
}

.thumbnail {
  width: 180px;
  flex-shrink: 0;

  img {
    width: 100%;
  }
}

footer {
  background: #333;
  margin-top: 40px;
  padding: 40px 0;

  .container {
    display: flex;
  }

  .cc {
    display: flex;

    > a {
      flex-shrink: 0;
      margin-right: 20px;
    }
  }
}

// Navigation
nav .container {
  display: flex;
  justify-content: space-between;
  font-family: $game-font;

  a {
    padding: 20px 10px 10px;
    border-bottom: 5px solid transparent;
    margin-bottom: 10px;
    

    &:hover {
      text-decoration: none;
      border-bottom-color: $green;
    }
  }
}

// Index Page
#index {
  header {
    text-align: center;
    padding-top: 20px;
  
    img {
      max-width: 100%;
    }
  }
}

// Twitch player
.twitch-online, .twitch-offline {
  display: none;
  font-family: $game-font;

  &.visible {
    display: block;
  }
}

.twitch-offline {
  margin-top: 45px;
  border-top: 1px solid #666;
  padding-top: 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid #666;
  margin-bottom: 45px;
  
  .offline-label {
    background: red;
    padding: 10px;
  }

  li {
    margin-bottom: 8px;

    span {
      color: $green;
    }
  }
}

// Preview list

// Devlogs

// Broadcasts
.broadcast {
  .post-title {
    h1, h3 {
      margin-top: 0;
    }
  }

  .post-date {
    color: #666;
  }
}

.broadcast-preview {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;

  .thumbnail {
    flex-shrink: 0;
    margin-right: 30px;
  }  
}

.broadcast-full {
  margin-top: 40px;

  .youtube-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 40px;

    .youtube-embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.broadcast-square-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.broadcast-square {
  width: calc(33% - 4px); // 40px gutter split between 3 items
  margin-bottom: 40px;
  display: flex;

  a {
    display: flex;
    flex-direction: column;
    background: #222;
    &:hover {
      background: #333;
      text-decoration: none;
    }
  }

  .thumbnail {
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    h3 { 
      margin: 0; 
      font-size: 14px; 
      padding-bottom: 10px;
    }

    .metadata {
      display: flex;
      justify-content: space-between;
    }
  }
}

////
.post-content {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.7;

  li {
    margin-bottom: 10px;
  }
}