<footer>
  <div class='social'>
    <p>
      Made by Jeff&nbsp;Lee and Dominic&nbsp;Dagradi
    </p>

    <div class="social-icons">
      <a title="twitch" href="https://www.twitch.tv/jeffanddom" target="_blank" rel="noreferrer">
        {{ readFile "static/img/brand-icons/twitch.svg" | safeHTML }}
      </a>
      <a title="twitter" href="https://twitter.com/jeffanddom" target="_blank" rel="noreferrer">
        {{ readFile "static/img/brand-icons/twitter.svg"| safeHTML }}
      </a>
      <a title="github" href="https://github.com/jeffanddom" target="_blank" rel="noreferrer">
        {{ readFile "static/img/brand-icons/github.svg"| safeHTML }}
      </a>
      <a title="github" href="https://www.youtube.com/channel/UCPMLP_iuTLQWxCVYFNt40WA" target="_blank"
        rel="noreferrer">
        {{ readFile "static/img/brand-icons/youtube.svg"| safeHTML }}
      </a>
    </div>
  </div>

  <div class="cc">
    <a target="_blank" href=" http://creativecommons.org/licenses/by-sa/4.0/" rel="noreferrer">
      <img alt="Creative Commons License" style="border-width: 0"
        src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
    </a>
    <div>
      This work is licensed under a <a target="_blank" rel="noreferrer"
        href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International
        License</a>.
    </div>
  </div>
</footer>
