{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <h4 id="date">{{ .Date.Format "January 2, 2006" }}</h4>

  <div>
    <article id="content">
      {{ .Content }}
    </article>
  </div>
</section>

<h4>Tags</h4>
{{ with .Params.tags }}
<ul id="tags">
  {{ range . }}
  <li><a href="{{ " tags" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
  {{ end }}
</ul>
{{ end }}

<aside id="meta">
  <div>
    {{ with .PrevInSection }}
    Previous: <a class="previous" href="{{.Permalink}}">{{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
    <!-- TODO: remove leading | for first posts -->
    | Next: <a class="next" href="{{.Permalink}}">{{.Title}}</a>
    {{ end }}
  </div>
</aside>
{{ end }}
