{{ define "main" }}
<main aria-role="main" id="index">

  <header>
    <img alt='Jeff and Dom Make a Game' src='/img/home.png' />
  </header>

  <div>
    <p>We’re two programmers trying to make a game from scratch, and learning as we go. Follow our progress as we
      explore game design, engine development, netplay and more.</p>

    <div class="twitch-online">
      <h4>Jeff and Dom are
        <span class='live-label'>LIVE</span>
      </h4>

      <!--
      {twitchEmbed &&
      <TwitchPlayer channel='jeffanddom' onOffline={setOffline} onOnline={setOnline} />}
      -->
    </div>

    <div class="twitch-offline">
      <h4>
        Jeff and Dom are <span class='offline-label'>OFFLINE</span>
      </h4>

      <span>Watch our <a href='https://www.twitch.tv/jeffanddom'>Twitch stream</a> on:</span>

      <ul>
        <li>Mondays at <span>7pm</span></li>
        <li>Thursdays at <span>7pm</span></li>
      </ul>

      <span>All times Pacific.</span>
    </div>

    <h3>Recent Broadcasts</h3>

    <div class='broadcast-square-wrapper'>
      {{ range first 3 (.Site.GetPage "/broadcasts/").Pages }}
      <article class="broadcast-square">
        <a href={{.Permalink}}>

          <div class='thumbnail' style="background-image:
            url(https://img.youtube.com/vi/{{.Params.videoId}}/maxresdefault.jpg)"></div>
          <div class='content'>
            <h3>
              {{.Title}}
            </h3>

            <div class='metadata'>
              <span>{{.Date.Format "1/2/2006" }}</span>
              <span>Session {{.Params.counter}}</span>
            </div>
          </div>
        </a>

      </article>
      {{ end }}
    </div>

    <p>See the <a href='/broadcasts'>full archive</a>.</p>

    <h3 class="devlog-header">Latest Devlog</h3>

    <div>
      {{ range first 1 (.Site.GetPage "/devlog").Pages }}
      <article class='preview-list-item'>
        <div class='post-title'>
          <h3>
            <a href="{{.Permalink}}">{{.Title}}</a>
          </h3>
          <p>
            <span class=" post-date">
              {{.Date.Format "January 2, 2006"}}
            </span>
          </p>
          <div>
            <div>{{.Summary}}</div>
            <a class="button" href="{{.Permalink}}">Keep Reading →</a>
          </div>

        </div>
      </article>
      {{ end }}
    </div>

  </div>

</main>
{{ end }}
